.about {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  align-items: center;
  text-align:inherit;
}

#profile {
  display: flex;
  gap: 32px;
  max-width: 592px;
}

#profile img{
  width: 176px;
  height: 176px;
}

#info {
  max-width: 384px;
}

#info h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#info p {
  font: var(--text-md)
}

#list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
  align-items: start;
}

#list li {
  display: flex;
  align-items: center;
  gap: 8px;
}